.clearflix::after{
    content: "";
    display: block;
    clear: both;
}

header{
    text-align: center;
}

h1{
    color: #e53170;
}

.col{
    float: left;
    background-color: black;
    padding: 10px;
    margin: 10px 10px;
    width: 400px;
    height: 100px;
}

img{
    height: 110px;
}